@media  screen and (min-width:1337px){


.resource-list-container {
    width: 84vw;
}
.resource-list{
    width: 83vw;
}
}
@media  screen and (min-width:1181px) and (max-width:1337px) {
.todo{
    width: 171px;
    height: 90.5vh;
} 
#resource-lists-container {
    left: 84px;
    
}
.resource-list-container {
    width: 84.4vw;
}
.resource-list{
    width: 83.4vw;
}
}
@media screen and (max-width:768px) {
    body {
        background-image: none;
        background-color: white;
        overflow-x: hidden;
    }

    .login-img {
        display: none;
    }

    .main-box {
        border-radius: 0px;
        box-shadow: none;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 335px;
    }

    .login {
        border-radius: 0px;
    }

    .login-icon {
        transform: scale(0.24);
        position: absolute;
        top: -175px;
        /* left: -88.3px; */
        z-index: 3;
    }

    #header h1 {
        position: absolute ;
        top: -11px ;
        left: -33px ;
        transform: scale(0.65);
        width: 414px;
    }

    #container1 {
        position: absolute;
        top: 16px;
        left: 5px;
        transform: scale(0.4);
        -webkit-tap-highlight-color: transparent;
    }

    #menubar {
        height: 92vh;
    }
    #resource-lists-container{
        margin-bottom: 20px;
    position: absolute;
    left: -98px;
    width: 96vw !important;
    }
    .resource-card{
        width: 34vw !important;
    }
    .todo{
        display: none !important;
    }
    .resource-list{
        width: 94vw !important;
        position: relative;
        left: 5px;
    }
    .resource-list-container{
        position: relative;
        left: 103px !important;
        width: 98vw !important;
    }
    #taskInput{
        display: none;
    }
    #addButton{
        display: none;
    }
    .add-resource-btn{
        display: none;
    }
}
@media screen and (max-width:320px) {
    .resource-list-title{
        font-size: 26px;
    }
    
}